:root {
  --font-color: rgb(182, 181, 181);
  --main-color: #e6007e;
}
html,
body {
  width: 100%;
  height: 100%;
  overflow: hidden;
  margin: 0;
  padding: 0;
  display: flex;
}

.side-content {
  width: 40vw;
}

.main-image {
  height: 100vh;
  width: 40vw;
}

.logo {
  display: flex;
  position: absolute;
  top: 0;
  left: 0;
  background-color: rgba(0, 0, 0, 0.377);
  color: white;
}
.odin-logo {
  width: 10vh;
  height: 10vw;
}
.container {
  display: flex;
  flex-wrap: wrap;
  height: 100%;
}
.container > div {
  width: 100%;
  padding-left: 50px;
  padding-top: 20px;
}
.mid {
  background-color: rgb(6, 6, 6);
}

.upper,
.bottom {
  font-family: "Roboto", sans-serif;
  color: var(--font-color);
  background-color: black;
  font-size: 1.2rem;
}

button {
  background-color: black;
  color: var(--main-color);
  border: 4px solid var(--main-color);
  border-radius: 5px;
  padding: 10px;
  font-size: 1.2rem;
  font-weight: bold;
  font-family: "Roboto", sans-serif;
  transition: ease-in-out 0.1s;
}

button:hover {
  cursor: pointer;
  background-color: var(--main-color);
  color: black;
}

ul {
  list-style: none;
  padding: 0;
  margin: 0;
}
