:root {
  --font-color: rgb(212, 212, 212);
  --main-color: purple;
}
html,
body {
  width: 100%;
  height: 100%;
  overflow: hidden;
  margin: 0;
  display: flex;
}

.side-content {
  width: 40vw;
}

.main-image {
  height: 100vh;
  width: 40vw;
}

.logo {
  display: flex;
  position: absolute;
  top: 0;
  left: 0;
  background-color: rgba(0, 0, 0, 0.377);
  color: white;
}
.odin-logo {
  width: 10vh;
  height: 10vw;
}
.container {
  display: flex;
  flex-wrap: wrap;
  height: 100%;
}
.mid {
  background-color: rgb(6, 6, 6);
}
.upper,
.mid,
.bottom {
  width: 100%;
}
.upper,
.bottom {
  font-family: "Roboto", sans-serif;
  color: var(--font-color);
  background-color: black;
  font-size: 1.2rem;
}

button {
  background-color: black;
  color: white;
  border: var(--main-color);
  border-radius: 5px;
  padding: 10px;
  font-size: 1.2rem;
  font-family: "Roboto", sans-serif;
  cursor: pointer;
}
